$main-color: #FFFFFF;
$second-color: #438A9C;
$three-color: #33302E;
$form-color: #F3F3F0;
$four-color: #190F14;
$text-product-color: #747468;

$border-color: #E8E8E8;

$orange-main-color: #EA5D1A;
$btn-hover-color: #F08D5F;
$btn-second-color: #FFFFFF;
$form-color-text: #0F0F0F;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 750;

$font-style: 'SeatBNC', sans-serif, Tahoma;


//breakpoints

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$min-phone: 450px;


//helper class
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
    align-items: center;
}

.flex-evenly {
    justify-content: space-evenly;
    align-items: center;
}
.fullhd-container {
    max-width: 1920px;
    margin: 0 auto 0;
}

.main-container {
    max-width: 1436px;
    margin: 0 auto 0;
}

.second-container {
    width: 952px;
    margin: 0 auto 0;
}

@media (max-width: 1510px) {
    .main-container, .second-container {
        width: 95%;
    }
}

.btn {
    font-family: $font-style;
    @extend .flex-row, .flex-center;
    height: 48px;
    font-weight: $font-bold;
    font-size: 1rem;
    line-height: 48px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
        svg {
            margin-right: 15px;
        }
        &:hover {
            opacity: 0.8;
        }
}

.select-style {
    border: 1px solid $border-color;
                cursor: pointer;
                user-select: none;

                p {
                    color: $four-color;
                    font-weight: $font-bold;
                    font-size: 0.9rem;
                    line-height: 30px;
                }
                
                svg, p {
                    padding: 0 16px;
                }
}

.input-style {
    font-family: $font-style;
    background-color: white;
    border-radius: 3px;
    border: 1px solid $border-color;
    padding: 0 20px;
    outline: none;
    font-size: 1rem;
    color: $form-color-text;
}

.placeholder-style {
    color: #747468;
    font-weight: $font-regular;
    font-size: 1rem;
    line-height: 26px;
}

.input-checkbox-style {
        position: relative;
        appearance: none;
        border-radius: 2px;
        min-width: 20px;
        height: 20px;
        background-color: white;
        border: 1px solid #E1E1E1;
        display: grid;
        place-content: center;
        cursor: pointer;
}

//code
html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'SeatBNC', sans-serif, Tahoma;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 104px;
    background-color: $second-color;
    z-index: 99999;
}

.desktop-nav {
    height: 104px;
    @extend .flex-row, .flex-between;
}

.second-nav-item-desktop {
    @extend .flex-row;

    button:first-child {
        font-family: $font-style;
        position: relative;
        width: 141px;
        margin-right: 15px;
        background: transparent;
        border: 3px solid $btn-second-color;
        color: $btn-second-color;
        
        .phone-button {
            position: absolute;
        }

        .phone-btn-style {
            font-size: 0.8rem;
        }
    }

    button:nth-child(2) {
        font-family: $font-style;
        color: $four-color;
        width: 200px;
    }
}

.second-nav-item-mobile {
    display: none;
}

@media screen and (max-width: $md) {
    header, .desktop-nav {
        height: 74px;

        svg {
            max-width: 106px;
        }
    }

    .second-nav-item-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        
        button {
            background: transparent;
            border: none;
        }
    }

    .second-nav-item-desktop {
        display: none;
    }
}

.image-responsive {
    width: 100%;
    height: auto;
}

.home-section {
    position: relative;
    min-height: auto;
    padding: 113px 0 64px;
    background-color: $second-color;
     
    .home-bg-image {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 1;
        img {
            width: auto;
            height: 100%;
        }
    }
}

.home-container {
    @extend .flex-col, .flex-center;
    align-items: flex-start;
    position: relative;
    min-height: auto;
    z-index: 10;

    .home-title {
        color: $btn-second-color;
        h1 {
            margin-top: 0;
            font-weight: $font-bold;
            font-size: 4rem;
            line-height: 72px;
            width: 70%;
            margin-bottom: 24px;
        }

        h2 {
            font-size: 2rem;
            font-weight: $font-light;
            line-height: 42px;
            margin: 0;

            span {
                font-weight: $font-bold;
            }
        }
    }
}

.search-console {
    @extend .flex-col, .flex-center;
    margin-top: 110px;
    align-items: flex-end;
    width: 1070px;
    height: 200px;
    padding: 24px;
    box-sizing: border-box;
    background-color: $main-color;
    z-index: 999;

    .console-items-container {
        width: 100%;
        @extend .flex-row, .flex-evenly;
        gap: 16px;
        box-sizing: border-box;

        .console-item {
            @extend .flex-col;
            position: relative;
            width: 25%;
            p {
                color: $text-product-color;
                font-weight: $font-medium;
                font-size: 0.9rem;
                line-height: 28px;
                margin: 0;
                padding: 0 0 8px 0;
            }

            .selected-option {
                @extend .flex-row, .flex-between, .select-style;

                p {
                    padding: 11px 16px;
                }

                &--active {
                    border-color: $orange-main-color;
                }

                &--active svg {
                    transform: rotate(-180deg);
                }
            }

            .dropdown-list {
                position: absolute;
                display: none;
                box-sizing: border-box;
                width: 100%;
                max-height: 250px;
                overflow-y: scroll;
                padding: 16px 20px 16px;
                top: 100%;
                margin: 11px 0 0;
                background-color: $main-color;
                border: 1px  solid $border-color;
                user-select: none;
                z-index: 99;
                scrollbar-color: $orange-main-color transparent;
                scrollbar-width: thin !important;
        
                li {
                    font-size: 0.9rem;
                    font-weight: $font-bold;
                    color: $four-color;
                    list-style-type: none;
                    padding: 8px 0;
                    cursor: pointer;

                    &:hover {
                        color: $orange-main-color;
                    }
                }

                .dropdown-border {
                    width: 100%;
                    height: 1px;
                    padding: 0;
                    background-color: $border-color;
                    margin: 6px auto 6px
                }

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $orange-main-color;
                }

                &--active {
                    display: block;
                }
            }
        }
    
    }

    .console-button-container {
        @extend .flex-row, .flex-center;
        margin: 16px 0 0 0;

        button:first-child {
            margin-right: 18px;
            background: transparent;
            font-weight: $font-bold;
            font-size: 0.8rem;

            svg {
                margin: 0 0 0 8px;
            }
        }

        button:nth-child(2) {
            width: 240px;
            color: $btn-second-color;
            background-color: $orange-main-color;
        }
    }
}

@media screen and (max-width: $xxl) {
    .home-section {
        .home-bg-image {
           
        }
    }
}

@media screen and (max-width: $xl) {
    .home-section {
        .home-bg-image {
            width: 96%;
            height: auto;
            img {
                width: 100%;
            }
        }
    }

    .home-container {

        .home-title {
            h1 {
                font-size: 3.5rem;
                width: 80%;
            }
            h2 {
                font-size: 1.8rem;
            }
        }
    }

    .search-console {
        width: 90%;
        height: auto;
        padding: 24px;
        
        .console-items-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 16px;

            .console-item {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: $lg) {
        .home-container {
            .home-title {
                h1 {
                    font-size: 3.5rem;
                    width: 85%;
                }
            }
        }
}

.bg-filter {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0F0F0F;
    opacity: 0.7;
    z-index: 99;

    &--active {
        display: block;
    }
}
@media screen and (max-width: $md) {
    .home-container {
        .home-title {
            h1 {
                font-size: 3rem;
                width: 100%;
            }
            h2 {
                font-size: 1.5rem;
            }
        }
    }

    .home-section {
        padding: 0 0 32px;
        .search-console {

            &--display {
                display: none;
            }

            &--active {
                display: flex;
                position: fixed;
                width: 95%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 999;

            }
        }
        .home-bg-image {
            margin: auto;
            margin-right: 0;
            position: relative;
        }
    }

    .search-console {
        margin-top: 32px;
    }
}

@media screen and (max-width: $sm) {
//     .home-section {
//         padding: 0 0 32px;
        
//         .home-bg-image {
//             margin: auto;
//             margin-right: 0;
//             position: relative;
//     }
// }

.search-console {
    margin-top: 32px;
}

    .home-container {
        .home-title {
            h1 {
                font-size: 2.5rem;
                width: 100%;
                line-height: 46px;
                margin-bottom: 8px;
            }
            h2 {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 524px) {
    .search-console {
        width: 100%;
        box-sizing: border-box;
        margin: 32px auto 0;

        .console-items-container{
            justify-content: center;
            grid-template-columns: 1fr;

            .console-item {
                width: 100%;

                p {
                    font-weight: $font-medium;
                    font-size: 0.8rem;
                    margin-bottom: 5px;
                    
                }

                .dropdown-list {
                    width: 100%;
                }
            }

        }

        .console-button-container {
            flex-direction: column-reverse;
            margin: 24px auto 0;
            width: 80%;

            button:nth-child(2) {
                width: 100%;
            }
        }
    }

    .home-container {
        margin-top: 32px;
        .home-title {
            h1 {
                font-size: 2.3rem;
                width: 100%;
                line-height: 52px;
            }
            h2 {
                font-size: 1.4rem;
            }
        }
    }
}

@media screen and (max-width: $min-phone ) {   
    .home-container {
        .home-title {
            h1 {
                font-size: 1.75rem;
                line-height: 38px;
            }
            h2 {
                font-size: 1.125rem;
                line-height: 32px;
            }
        }
    }
    .search-console {
        width: 100%;
    }
}



.finded-section {
    min-height: auto;
    margin: 0;
    padding: 64px 0;
}

.finded-header {
    @extend .flex-row, .flex-between;
    color: $four-color;

    .border-mobile {
        display: none;
    }

    h2 {
        font-weight: $font-bold;
        font-size: 1.9rem;
        line-height: 48px;
        margin: 0;

        span {
            color: $orange-main-color;
        }
    }

    .find-sorting {
        @extend .flex-row;
        gap: 24px;

        button {
            display: none       
           }

        .sorting-item-container {
            position: relative;
            flex-basis: 70%;
        }
        
        .sorting-item {
            position: relative;
            @extend .select-style, .flex-row, .flex-between;
            height: 52px;
            width: 240px;
        }

        .selected-option {
            &--active {
                border-color: $orange-main-color;
            }

            &--active svg{
                transform: rotate(-180deg);
            }
        }

        .sort-options {
            position: absolute;
            box-sizing: border-box;
            max-width: 300px;
            min-height: 250px;
            padding: 16px 20px 16px;
            width: 100%;
            top: 50px;
            background-color: $main-color;
            border: 1px  solid $border-color;
            user-select: none;
            z-index: 99;
            
            li {
                font-size: 0.9rem;
                font-weight: $font-bold;
                color: $four-color;
                list-style-type: none;
                padding: 8px 0;
                cursor: pointer;
        
                &:hover {
                    color: $orange-main-color;
                    }
                }
        
                .dropdown-border {
                    width: 100%;
                    height: 1px;
                    padding: 0;
                    background-color: $border-color;
                    margin: 6px auto 6px
                }
        }

        .dropdown-list {
            display: none;
            &--active {
                display: block;
            }
        }

        p {
            font-weight: 500;
            font-size: 1rem;
            line-height: 28px;
            color: $text-product-color;
        }

    }
}

.finded-items-container {
    @extend .flex-col, .flex-center;
    gap: 24px;
    margin-top: 52px;
}

.find-element {
    @extend .flex-row;
    width: 100%;
    height: 310px;
    border: 1px solid $border-color;
    display: none;
    overflow: hidden;
    

    &--active {
        display: flex;
    }

    .image-find-container {
        min-width: 463.5px;
        @extend .flex-row, .flex-center;
        z-index: 1;

        img {
            max-height: 310px;
            min-height: 310px;
        }
    }

    .right-find-panel {
        @extend .flex-col;
        justify-content: space-between;
        width: 100%;
        padding: 32px;

        h2 {
            margin: 0;
            color: $four-color;
            font-weight: $font-bold;
            line-height: 25px;
            font-size: 1.4rem;
        }

        h6 {
            display: none;
        }

        .element-description {
            @extend .flex-row, .flex-center;
            justify-content: flex-start;
            margin-top: 13px;
            gap: 24px;
            
            .new {
                margin: 0;
                background-color: black;
                color: white;
                padding: 3px 8px;
                border-radius: 3px;
                font-weight: $font-bold;
                font-size: 0.8rem;
            }

            .used {
                @extend .new;
                color: $four-color;
                background-color: $form-color;
            }

            p {
                margin: 0;
                font-size: 1rem;

                &:nth-child(3) {
                    @extend .flex-row, .flex-center;

                    svg {
                        margin-right: 10px
                    }
                }
            }
        }
    
        .element-category-container {
            @extend .flex-row, .flex-between;
            margin-top: 24px;
            gap: 16px;

            .category-element {
                color: $four-color;
                width: 20%;
                
                h3 {
                    margin: 0;
                    font-weight: $font-medium;
                    font-size: 0.9rem;
                    color: $text-product-color;
                    line-height: 24px;
                }

                p {
                    margin: 8px 0 0;
                    font-weight: $font-bold;
                    font-size: 1.2rem;
                    line-height: 24px;
                }
            }
        }
    
        .footer-find-element {
            @extend .flex-row, .flex-between;
            align-items: flex-end;
            margin-top: 41px;

            .finded-border {
                display: none;
            }

            .prize {
                color: $orange-main-color;

                h4 {
                    margin: 0;
                    color: $four-color;
                    font-size: 0.9rem;
                    font-weight: $font-medium;
                    line-height: 28px;
                }

                p {
                    margin: 0;
                    font-weight: $font-bold;
                    font-size: 2rem;
                    line-height: 40px;
                }
            }

            button {
                @extend .btn;
                width: 170px;
                font-weight: $font-bold;
                font-size: 1rem;
                color: $orange-main-color;
                background: transparent;
                border: 2px solid $orange-main-color;
            }
        }
    
    }
}

@media screen and (max-width: $xl) {

    .finded-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        margin: 52px auto 0;
    }

    .find-element {
        position: relative;
        flex-direction: column;
        width: 100%;
        height: auto;

        .image-find-container {
            img {
                max-height: 100%;
                width: 100%;
                height: auto;
            }       
        }

        .right-find-panel {
            width: 95%;
            margin: 0 auto 0;
            padding: 14px 0;

            .element-category-container {
                white-space: nowrap;
                flex-wrap: nowrap;
                gap: 24px;
                overflow: auto;
                padding: 13px 0;

                .category-element {
                    padding: 0;
                    text-align: center;
                    width: 50%;
                }
            }
        }
    }
    .footer-find-element {
        position: relative;
        .finded-border {
            display: block !important;
            position: absolute;
            top: -13px;
            right: -10%;
            left: -10%;
            height: 1px;
            background-color: $border-color;
        }
    }
}

@media screen and (max-width: $lg) {
    .finded-items-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: $md) {
    .finded-header {
        flex-direction: column-reverse;
        align-items: flex-start;
        .find-sorting {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .sorting-item {
                max-width: 300px;
                width: 100%;
                height: 48px;
            }
            .sort-text {
                display: none;
            }
            button {
                display: block;
                width: 164px;
                background-color: $orange-main-color;
                color: white;
            }
        }
    }
    .finded-elements-pagination {
        margin-top: 6% !important;

        button {
            font-family: $font-style;
        }
    }
    .finded-header {
        .border-mobile {
            display: block;
            height: 1px;
            width: 100%;
            background-color: $border-color;
            margin: 19px 0;
        }
    }
}

@media screen and (max-width: $sm) {
    .find-element {
        .image-find-container {
            min-width: 100%;
            img {
                width: 100%;
                min-height: 210px;
            }       
        }
        .right-find-panel {
            padding: 20px 0 12px;
            h2 {
                display: flex;
            }

            .element-description {
                .new, .used { 
                    position: absolute;
                    top: 19px;
                    left: 17px;
                    z-index: 9;
                }
                p {
                    color: $text-product-color;
                   &:nth-child(2) {
                    margin-left: 0 !important;
                   }
                }
            }
            .element-category-container {
                margin: 10px 0 0;
                justify-content: flex-start;
                gap: 13px;
                padding: 0;

                .category-element {
                    width: auto;
                    h3 {
                        display: none;
                    }
                    p {
                        font-weight: $font-medium;
                        font-size: 1rem;
                        color: $text-product-color;
                    }
                }
            }

            .footer-find-element {
                margin-top: 28px;
                .prize {
                    p {
                        font-size: 1.5rem;
                    }
                }
                button {
                    display: none;
                }
            }
        }
    }
    .finded-header {
        h2 {
            font-size: 1.7rem;
        
        }

        .find-sorting {
            button {
                width: 100%;
                flex-basis: 30%;
            }
        }
    }
    .finded-elements-pagination {
        margin-top: 10% !important;
    }
}

@media screen and (max-width: $min-phone) {
    .finded-section {
        padding: 16px 0 38px;
    }
    .finded-items-container {
        margin-top: 24px
    }
    .finded-header {
        h2 {
            font-size: 1.125rem;
            line-height: 32px;
        }
    }
    .find-element {
        .right-find-panel {
            h6 {
                position: relative;
                display: block;
                font-size: 1.3rem;
                margin: 0 0 4px;
                line-height: 28px;
            }
            h2 {
                font-size: 0.8rem;
                color: $text-product-color;
                line-height: 21px;
            }
            .element-category-container {
                flex-wrap: wrap;
                overflow: hidden;
                padding: 0;
                margin: 8px 0 0;
                .category-element {
                    width: auto;
                    p {
                        font-size: 0.8rem;
                        line-height: 18px;
                        margin: 0;
                    }
                }
            }
            .footer-find-element {
                margin-top: 28px !important;
        
                .prize {
                    h4 {
                        line-height: 24px;
                    }
                    p {
                        line-height: 36px;
                    }
                }
            }
        }
    }

    .element-description {
        margin: 0 !important;
        p {
            display: none !important;
        }
        .used, .new {
            display: block !important;
        }
    }
}

.finded-elements-pagination {
    @extend .flex-row, .flex-center;
    margin-top: 3%;
    gap: 13px;

    button {
        font-weight: $font-medium;
        font-size: 0.8rem;
        color: $four-color;
        width: 40px;
        height: 40px;
        background: transparent;
        border-radius: 3px;
        border: 1px solid $border-color;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: $btn-hover-color;
            color: white;
        }

        &:hover svg {
            fill: white;
        }

        &:active{
            background-color: $orange-main-color;
            color: white;
        }

    }

    .active-btn {
        background-color: $orange-main-color !important;
        color: white;
    }
}

.contact-form-section {
    min-height: 80vh;
    margin: 0;
    background-color: $form-color;
    padding: 88px 0;
}

.contact-form-title {
    @extend .flex-col, .flex-center;
    font-weight: $font-bold;
    text-align: center;
    color: $form-color-text;

    h2, h3, p {
        width: 75%;
    }

    h2 {
        margin: 0;
        font-size: 1rem;
        line-height: 30px;
    }

    h3 {
        margin: 16px 0;
        font-size: 3rem;
        line-height: 52px;
    }

    p {
        font-size: 1.3rem;
        font-weight: $font-regular;
        line-height: 32px;
        letter-spacing: 0.11px;
        margin: 0;
    }
}

.form-container {
    margin-top: 64px;
    @extend .flex-col;

    p {
        color: $four-color;
        font-weight: 400;
        font-size: 1rem;
        line-height: 30px;
        margin-top: 5px;

        a {
            color: inherit;
            font-size: 1rem
        }
    }

    button {
        @extend .btn;
        width: 180px;
        background-color: $orange-main-color;
        margin-top: 3%;
        color: white;
    }
}

.input-wrapper {
    @extend .flex-col;
    gap: 30px
}

.form-input {
    @extend .flex-row;
    gap: 30px;

    .name, .last-name, .phone-number, .email {
        position: relative;
        width: 100%;
        height: 48px;
    }

    input {
        @extend .input-style;
        box-sizing: border-box;
        width: 100%;
        height: 48px;

        &:focus {
            border-color: black;
        }

        &::placeholder {
            @extend .placeholder-style;
        }
    }

    .error {
        display: none;
        position: absolute;
        margin: 2px 0 0;
        font-size: 0.7rem;
        color: $orange-main-color;
        line-height: 18px;
        letter-spacing: 0.9px;

        &--active {
            display: block;
        }
    }

    .error-second {
        @extend .error;

        &--active {
            display: block;
        }
    }
}

.text-area {
    position: relative;
    width: 100%;

    .error {
        display: none;
        position: absolute;
        margin: 2px 0 0;
        font-size: 0.7rem;
        color: $orange-main-color;
        line-height: 18px;
        letter-spacing: 0.9px;

        &--active {
            display: block;
        }
    }

    .error-second {
        @extend .error;

        &--active {
            display: block;
        }
    }
}

textarea {
    @extend .input-style;
    font-family: $font-style;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-height: 180px;
    max-height: 240px;
    padding: 14px 20px;

    &::placeholder {
       @extend .placeholder-style;
    }

    &:focus {
        border-color: black;
    }
}

.checkbox-container {
    @extend .flex-row;
    gap: 13px;
    margin-top: 3%;

    input {
        @extend .input-checkbox-style;

        &::before {
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 2px;
            background-color: $orange-main-color;
            transform: scale(0);
            transition: 0.1s ease-in-out;
        }

        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            left: 4px;
            top: 4px;
            background-image: url('../img/check-vector.svg');
            background-repeat: no-repeat;
            background-position: center;
            transform: scale(0);
            transition: 150ms ease-in-out;
        }

        &:checked::before, &:checked::after {
            transform: scale(1);
        }
    }

    label {
        color: $form-color-text;
        font-weight: $font-regular;
        font-size: 1rem;
        line-height: 30px;
        user-select: none;
        cursor: pointer;
    }
}

.contact-wrapper {
    margin: 1% 0 2% 0;
}

.checkbox-contact {
    @extend .flex-row;
    gap: 13px;
    margin: 13px 0 0 7%;

        input {
            @extend .input-checkbox-style;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                content: "";
                width: 20px;
                height: 20px;
                border-radius: 2px;
                background-color: $orange-main-color;
                transform: scale(0);
                transition: 0.1s ease-in-out;
            }
    
            &::after {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;  
                background-image: url('../img/check-vector.svg');
                background-repeat: no-repeat;
                background-position: center;
                transform: scale(0);
                transition: 150ms ease-in-out;
            }
    
            &:checked::before, &:checked::after {
                transform: scale(1);
            }
        }
}

@media screen and (max-width: $lg) {
    .contact-form-title {
        h3 {
            font-size: 2.5rem;
            line-height: 40px;
        }
        p {
            width: 85%;
        }
    }
}

@media screen and (max-width: $sm) {
    .contact-form-title {
        h3 {
            font-size: 2.2rem;
            line-height: 32px;
        }
        p {
            width: 100%;
            font-size: 1.1rem;
        }
    }

    .form-input {
        flex-direction: column;
        
        input {
            width: 100%;
        }
    }
}

@media screen and (max-width: $min-phone) {
    .contact-form-section {
        padding: 48px 0;
    }

    .contact-form-title {
        h3 {
            font-size: 1.7rem;
            line-height: 30px;
        }
        p {
            width: 100%;
            font-size: 1rem;
            line-height: 28px;
        }
    }

    .form-container {
        margin-top: 48px;
        p {
            font-size: 0.9rem;

            a{
                font-size: 0.9rem;
            }
        }
    }

    .checkbox-container, .checkbox-contact {
        margin: 10px 0;
        label {
            font-size: 0.9rem;
        }
    }
    .checkbox-contact {
        margin-left: 10%;
    }
}




footer {
    min-height: auto;
    background-color: $three-color;
    margin: 0;
    color: white;
    padding: 64px 0 54px;

    .top-footer-panel {
        @extend .flex-row;
        gap: 7%;

        .footer-item {
            @extend .flex-col;

            h2, h3 {
                font-weight: $font-bold;
                font-size: 1rem;
                line-height: 19px;
                margin: 16px 0 0;
            }

            h2 {
                margin-top: 0;
            }

            p {
                margin: 16px 0 0;
                font-weight: $font-medium;
                font-size: 1rem
            }

            button {
                font-family: $font-style;
                margin: 19px 0 0;
                width: 130px;
                text-align: start;
                padding: 0;
                color: white;
                background-color: transparent;
                border: none;
                opacity: 0.8;
                font-weight: $font-medium;
                font-size: 0.9rem;
                cursor: pointer;

                svg {
                    margin-left: 7px;
                }
            }

            .opening-hours-container {
                @extend .flex-row;
                gap: 70px;

                h3 {
                    margin: 16px 0 0;
                }

                p {
                    margin: 4px 0 0;
                    font-size: 1rem;
                    line-height: 26px;
                }
            }

            .left {}
        }
    }

    .footer-border {
        margin: 54px 0 24px;
        width: 100%;
        height: 1px;
        background-color: #82807F;
    }

    .middle-footer-panel, .bottom-footer-panel {
        @extend .flex-row, .flex-between;
    }

    .middle-footer-panel {
        .social-icons-footer {
           display: flex;
           @extend .flex-center;
           gap: 24px;
        }
    }

    .bottom-footer-panel {
        margin: 30px 0 0;

        p {
            margin: 0;
        }

        .footer-links {
            @extend .flex-row;
            gap: 24px;

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.footer-mobile {
    display: none;
}

@media screen and (max-width: $xl) {
    footer {
        .top-footer-panel {
            flex-wrap: wrap;
            gap: 64px;
        }
    }
}

@media screen and (max-width: $md) {
    footer {
        padding: 6% 0 3%;
    }
    .footer-desktop {
        display: none;
    }
    .footer-mobile {
        display: block;

        a {
            margin: 10px 0;
            color: white;
            text-decoration: none;
            font-weight: $font-medium;
            font-size: 1rem;
        }

        .social-icons-footer-mobile {
            gap: 28px;
        }

        .footer-item-mobile {
            margin: 0 auto 0;
            text-align: center;
        }

        .border-footer-mobile {
            height: 1px;
            width: 100%;
            background-color: #82807F;
            margin: 19px 0;

            &:nth-child(6) {
                margin: 31px 0;
            }
        }
    }
}

.scroll-container {
    position: fixed;
    bottom: 10%;
    right: 50px;
    z-index: 99;
    opacity: 0;
    transition: 0.3s ease-in-out;

    .scroll-arrow {
        @extend .flex-col, .flex-center;
        width: 48px;
        height: 48px;
        background-color: $orange-main-color;
        border-radius: 5px;

        svg {
            position: absolute;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &--active {
        opacity: 1;
    }

}


@media screen and (max-width: $lg) {
    .scroll-container {
        display: none;
    }
}

.mobile-search-console {
    position: relative;
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);

    .mobile-filter-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }

    .console-mobile {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;

    }
    .console-mobile-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .mobile-buttons-container {
        @extend .flex-col, .flex-center;
        flex-direction: column-reverse;
        margin: 24px auto 0;
    }

    &--active {
        display: block;
    }
}

.null-offer-text {
    font-size: 1.7rem;
    font-weight: $font-regular;
    text-align: center;

    span {
        color: $orange-main-color;
    }
}