.flex-row, footer .bottom-footer-panel .footer-links, footer .middle-footer-panel, footer .bottom-footer-panel, footer .top-footer-panel .footer-item .opening-hours-container, footer .top-footer-panel, .checkbox-contact, .checkbox-container, .form-input, .finded-elements-pagination, .find-element .right-find-panel .footer-find-element, .find-element .right-find-panel .element-category-container, .find-element .right-find-panel .element-description p:nth-child(3), .find-element .right-find-panel .element-description, .find-element .image-find-container, .find-element, .finded-header .find-sorting .sorting-item, .finded-header .find-sorting, .finded-header, .search-console .console-button-container, .search-console .console-items-container .console-item .selected-option, .search-console .console-items-container, .second-nav-item-desktop, .desktop-nav, .btn, .form-container button, .find-element .right-find-panel .footer-find-element button {
  display: flex;
  flex-direction: row;
}

.flex-col, .mobile-search-console .mobile-buttons-container, .scroll-container .scroll-arrow, footer .top-footer-panel .footer-item, .input-wrapper, .form-container, .contact-form-title, .finded-items-container, .search-console .console-items-container .console-item, .search-console, .home-container {
  display: flex;
  flex-direction: column;
}

.flex-center, .mobile-search-console .mobile-buttons-container, .scroll-container .scroll-arrow, footer .middle-footer-panel .social-icons-footer, .contact-form-title, .finded-elements-pagination, .find-element .right-find-panel .element-description p:nth-child(3), .find-element .right-find-panel .element-description, .find-element .image-find-container, .finded-items-container, .search-console .console-button-container, .search-console, .home-container, .btn, .form-container button, .find-element .right-find-panel .footer-find-element button {
  justify-content: center;
  align-items: center;
}

.flex-between, footer .middle-footer-panel, footer .bottom-footer-panel, .find-element .right-find-panel .footer-find-element, .find-element .right-find-panel .element-category-container, .finded-header .find-sorting .sorting-item, .finded-header, .search-console .console-items-container .console-item .selected-option, .desktop-nav {
  justify-content: space-between;
  align-items: center;
}

.flex-evenly, .search-console .console-items-container {
  justify-content: space-evenly;
  align-items: center;
}

.main-container {
  width: 1436px;
  margin: 0 auto 0;
}

.second-container {
  width: 952px;
  margin: 0 auto 0;
}

@media (max-width: 1510px) {
  .main-container, .second-container {
    width: 95%;
  }
}
.btn, .form-container button, .find-element .right-find-panel .footer-find-element button {
  font-family: "SEAT BCN", sans-serif, Tahoma;
  height: 48px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 48px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn svg, .form-container button svg, .find-element .right-find-panel .footer-find-element button svg {
  margin-right: 15px;
}
.btn:hover, .form-container button:hover, .find-element .right-find-panel .footer-find-element button:hover {
  opacity: 0.8;
}

.select-style, .finded-header .find-sorting .sorting-item, .search-console .console-items-container .console-item .selected-option {
  border: 1px solid #E8E8E8;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.select-style p, .finded-header .find-sorting .sorting-item p, .search-console .console-items-container .console-item .selected-option p {
  color: #190F14;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 30px;
}
.select-style svg, .finded-header .find-sorting .sorting-item svg, .search-console .console-items-container .console-item .selected-option svg, .select-style p, .finded-header .find-sorting .sorting-item p, .search-console .console-items-container .console-item .selected-option p {
  padding: 0 16px;
}

.input-style, textarea, .form-input input {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #E8E8E8;
  padding: 0 20px;
  outline: none;
  font-size: 1rem;
  color: #0F0F0F;
}

textarea::-moz-placeholder, .form-input input::-moz-placeholder {
  color: #747468;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
}

textarea:-ms-input-placeholder, .form-input input:-ms-input-placeholder {
  color: #747468;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
}

.placeholder-style, textarea::placeholder, .form-input input::placeholder {
  color: #747468;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
}

.input-checkbox-style, .checkbox-contact input, .checkbox-container input {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 2px;
  min-width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid #E1E1E1;
  display: grid;
  place-content: center;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SEAT BCN", sans-serif, Tahoma;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 104px;
  background-color: #438A9C;
  z-index: 99999;
}

.desktop-nav {
  height: 104px;
}

.second-nav-item-desktop button:first-child {
  font-family: "SEAT BCN", sans-serif, Tahoma;
  position: relative;
  width: 141px;
  margin-right: 15px;
  background: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}
.second-nav-item-desktop button:first-child .phone-button {
  position: absolute;
}
.second-nav-item-desktop button:nth-child(2) {
  font-family: "SEAT BCN", sans-serif, Tahoma;
  color: #190F14;
  width: 200px;
}

.second-nav-item-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  header, .desktop-nav {
    height: 74px;
  }
  header svg, .desktop-nav svg {
    max-width: 106px;
  }
  .second-nav-item-mobile {
    display: block;
  }
  .second-nav-item-mobile button {
    background: transparent;
    border: none;
  }
  .second-nav-item-desktop {
    display: none;
  }
}
.image-responsive {
  width: 100%;
  height: auto;
}

.home-section {
  position: relative;
  min-height: 80vh;
  background-color: #438A9C;
}
.home-section .home-bg-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}
.home-section .home-bg-image img {
  width: auto;
  height: 100%;
}

.home-container {
  align-items: flex-start;
  position: relative;
  min-height: 80vh;
  z-index: 10;
}
.home-container .home-title {
  color: #FFFFFF;
}
.home-container .home-title h1 {
  margin-top: 0;
  font-weight: 700;
  font-size: 4rem;
  line-height: 72px;
  width: 70%;
}
.home-container .home-title h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 42px;
}
.home-container .home-title h2 span {
  font-weight: 700;
}

.search-console {
  margin-top: 5%;
  align-items: flex-end;
  width: 1070px;
  height: 200px;
  background-color: #FFFFFF;
}
.search-console .console-items-container {
  width: 100%;
}
.search-console .console-items-container .console-item {
  position: relative;
  width: 244px;
}
.search-console .console-items-container .console-item p {
  color: #747468;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 28px;
  margin-bottom: 8px;
}
.search-console .console-items-container .console-item .selected-option--active {
  border-color: #EA5D1A;
}
.search-console .console-items-container .console-item .selected-option--active svg {
  transform: rotate(-180deg);
}
.search-console .console-items-container .console-item .dropdown-list {
  position: absolute;
  display: none;
  box-sizing: border-box;
  width: 244px;
  max-height: 250px;
  overflow-y: scroll;
  padding: 16px 20px 16px;
  top: 100px;
  background-color: #FFFFFF;
  border: 1px solid #E8E8E8;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 99;
}
.search-console .console-items-container .console-item .dropdown-list li {
  font-size: 0.9rem;
  font-weight: 700;
  color: #190F14;
  list-style-type: none;
  padding: 8px 0;
  cursor: pointer;
}
.search-console .console-items-container .console-item .dropdown-list li:hover {
  color: #EA5D1A;
}
.search-console .console-items-container .console-item .dropdown-list .dropdown-border {
  width: 100%;
  height: 1px;
  padding: 0;
  background-color: #E8E8E8;
  margin: 6px auto 6px;
}
.search-console .console-items-container .console-item .dropdown-list::-webkit-scrollbar {
  width: 4px;
}
.search-console .console-items-container .console-item .dropdown-list::-webkit-scrollbar-thumb {
  background-color: #EA5D1A;
}
.search-console .console-items-container .console-item .dropdown-list--active {
  display: block;
}
.search-console .console-button-container {
  margin: 16px 20px 0 0;
}
.search-console .console-button-container button:first-child {
  margin-right: 18px;
  background: transparent;
  font-weight: 700;
  font-size: 0.8rem;
}
.search-console .console-button-container button:first-child svg {
  margin: 0 0 0 8px;
}
.search-console .console-button-container button:nth-child(2) {
  width: 240px;
  color: #FFFFFF;
  background-color: #EA5D1A;
}

@media screen and (max-width: 1200px) {
  .home-section {
    padding: 5% 0 3%;
  }
  .home-section .home-bg-image {
    width: 95%;
    height: auto;
  }
  .home-section .home-bg-image img {
    width: 100%;
  }
  .home-container .home-title h1 {
    font-size: 3.5rem;
  }
  .home-container .home-title h2 {
    font-size: 1.8rem;
  }
  .search-console {
    margin: 0 auto 0;
    width: 100%;
    height: auto;
    padding: 20px 0;
  }
  .search-console .console-items-container {
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  .home-container .home-title h1 {
    font-size: 3rem;
    width: 90%;
  }
  .home-container .home-title h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .home-section {
    min-height: 110vh;
    padding: 6% 0 10%;
  }
  .home-section .home-bg-image {
    margin: auto;
    margin-right: 0;
    position: relative;
  }
  .home-container .home-title h1 {
    font-size: 3rem;
    width: 90%;
  }
  .home-container .home-title h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 524px) {
  .home-section {
    min-height: 115vh;
    padding: 6% 0 15%;
  }
  .search-console {
    width: 95%;
    box-sizing: border-box;
    height: 550px;
    margin: 0 auto 0;
  }
  .search-console .console-items-container {
    justify-content: center;
  }
  .search-console .console-items-container .console-item {
    width: 80%;
  }
  .search-console .console-items-container .console-item p {
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  .search-console .console-items-container .console-item .dropdown-list {
    width: 100%;
  }
  .search-console .console-button-container {
    flex-direction: column-reverse;
    margin: 24px auto 0;
    width: 80%;
  }
  .search-console .console-button-container button:nth-child(2) {
    width: 100%;
  }
  .home-container {
    margin-top: 32px;
  }
  .home-container .home-title h1 {
    font-size: 2.3rem;
    width: 100%;
    line-height: 52px;
  }
  .home-container .home-title h2 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 450px) {
  .home-section {
    min-height: 100vh;
    padding: 6% 0 15%;
  }
  .home-container .home-title h1 {
    font-size: 1.9rem;
  }
}
.finded-section {
  min-height: 80vh;
  margin: 0;
  padding: 3% 0 3%;
}

.finded-header {
  color: #190F14;
}
.finded-header .border-mobile {
  display: none;
}
.finded-header h1 {
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 48px;
}
.finded-header h1 span {
  color: #EA5D1A;
}
.finded-header .find-sorting {
  gap: 24px;
}
.finded-header .find-sorting button {
  display: none;
}
.finded-header .find-sorting .sorting-item-container {
  position: relative;
  flex-basis: 70%;
}
.finded-header .find-sorting .sorting-item {
  position: relative;
  height: 52px;
  width: 240px;
}
.finded-header .find-sorting .selected-option--active {
  border-color: #EA5D1A;
}
.finded-header .find-sorting .selected-option--active svg {
  transform: rotate(-180deg);
}
.finded-header .find-sorting .sort-options {
  position: absolute;
  box-sizing: border-box;
  min-height: 250px;
  padding: 16px 20px 16px;
  width: 100%;
  top: 50px;
  background-color: #FFFFFF;
  border: 1px solid #E8E8E8;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 99;
}
.finded-header .find-sorting .sort-options li {
  font-size: 0.9rem;
  font-weight: 700;
  color: #190F14;
  list-style-type: none;
  padding: 8px 0;
  cursor: pointer;
}
.finded-header .find-sorting .sort-options li:hover {
  color: #EA5D1A;
}
.finded-header .find-sorting .sort-options .dropdown-border {
  width: 100%;
  height: 1px;
  padding: 0;
  background-color: #E8E8E8;
  margin: 6px auto 6px;
}
.finded-header .find-sorting .dropdown-list {
  display: none;
}
.finded-header .find-sorting .dropdown-list--active {
  display: block;
}
.finded-header .find-sorting p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: #747468;
}

.finded-items-container {
  gap: 24px;
  margin-top: 5%;
}

.find-element {
  width: 100%;
  height: 310px;
  border: 1px solid #E8E8E8;
  display: none;
  overflow: hidden;
}
.find-element--active {
  display: flex;
}
.find-element .image-find-container {
  min-width: 463.5px;
  z-index: 1;
}
.find-element .image-find-container img {
  max-height: 310px;
  min-height: 310px;
}
.find-element .right-find-panel {
  width: 100%;
  padding: 0 32px;
}
.find-element .right-find-panel h1 {
  margin-bottom: 0;
  color: #190F14;
  font-weight: 700;
  line-height: 25px;
  font-size: 1.4rem;
}
.find-element .right-find-panel h6 {
  display: none;
}
.find-element .right-find-panel .element-description {
  justify-content: flex-start;
  margin-top: 13px;
}
.find-element .right-find-panel .element-description .new, .find-element .right-find-panel .element-description .used {
  margin: 0;
  background-color: black;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 0.8rem;
}
.find-element .right-find-panel .element-description .used {
  color: #190F14;
  background-color: #F3F3F0;
}
.find-element .right-find-panel .element-description p {
  margin: 0;
  font-size: 1rem;
}
.find-element .right-find-panel .element-description p:nth-child(2) {
  margin-left: 24px;
}
.find-element .right-find-panel .element-description p:nth-child(3) {
  margin-left: 24px;
}
.find-element .right-find-panel .element-description p:nth-child(3) svg {
  margin-right: 10px;
}
.find-element .right-find-panel .element-category-container {
  margin-top: 24px;
}
.find-element .right-find-panel .element-category-container .category-element {
  color: #190F14;
  padding-right: 7%;
}
.find-element .right-find-panel .element-category-container .category-element h2 {
  margin: 0;
  font-weight: 500;
  font-size: 0.9rem;
  color: #747468;
  line-height: 24px;
}
.find-element .right-find-panel .element-category-container .category-element p {
  margin: 8px 0 0;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 24px;
}
.find-element .right-find-panel .footer-find-element {
  align-items: center;
  margin-top: 40px;
}
.find-element .right-find-panel .footer-find-element .prize {
  color: #EA5D1A;
}
.find-element .right-find-panel .footer-find-element .prize h3 {
  margin: 0;
  color: #190F14;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 28px;
}
.find-element .right-find-panel .footer-find-element .prize p {
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 40px;
}
.find-element .right-find-panel .footer-find-element button {
  width: 170px;
  font-weight: 700;
  font-size: 1rem;
  color: #EA5D1A;
  background: transparent;
  border: 2px solid #EA5D1A;
}

@media screen and (max-width: 1200px) {
  .finded-items-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
  }
  .find-element {
    position: relative;
    flex-direction: column;
    width: 465px;
    padding: 0 0 10px;
    height: auto;
    padding: 0 0 10px;
  }
  .find-element .image-find-container img {
    width: 100%;
  }
  .find-element .right-find-panel {
    padding: 0;
    width: 95%;
    margin: 0 auto 0;
  }
  .find-element .right-find-panel .element-category-container {
    margin: 50px 0;
    flex-wrap: wrap;
    gap: 10px;
  }
  .find-element .right-find-panel .element-category-container .category-element {
    padding: 0;
    text-align: center;
  }
  .find-element .right-find-panel .footer-find-element::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    margin: -12.1px;
    background-color: #E8E8E8;
    margin-top: -100px;
  }
}
@media screen and (max-width: 768px) {
  .finded-section {
    padding: 7% 0 7%;
  }
  .finded-header {
    flex-direction: column-reverse;
  }
  .finded-header .find-sorting {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .finded-header .find-sorting .sorting-item {
    max-width: 300px;
    width: 100%;
    height: 48px;
  }
  .finded-header .find-sorting .sort-text {
    display: none;
  }
  .finded-header .find-sorting button {
    display: block;
    width: 164px;
    background-color: #EA5D1A;
    color: white;
  }
  .finded-elements-pagination {
    margin-top: 6% !important;
  }
  .finded-elements-pagination button {
    font-family: "SEAT BCN", sans-serif, Tahoma;
  }
}
@media screen and (max-width: 576px) {
  .find-element .image-find-container {
    min-width: 100%;
  }
  .find-element .image-find-container img {
    width: 100%;
    min-height: 210px;
  }
  .find-element .right-find-panel h2 {
    display: flex;
  }
  .find-element .right-find-panel .title-find-container {
    position: relative;
    height: 64px;
  }
  .find-element .right-find-panel .title-find-container h1, .find-element .right-find-panel .title-find-container h2 {
    position: absolute;
  }
  .find-element .right-find-panel .title-find-container h1 {
    display: none;
  }
  .find-element .right-find-panel .element-description .new, .find-element .right-find-panel .element-description .used {
    position: absolute;
    top: 19px;
    left: 17px;
    z-index: 9;
  }
  .find-element .right-find-panel .element-description p {
    color: #747468;
  }
  .find-element .right-find-panel .element-description p:nth-child(2) {
    margin-left: 0 !important;
  }
  .find-element .right-find-panel .element-category-container {
    margin: 10px 0;
    justify-content: flex-start;
    gap: 13px;
  }
  .find-element .right-find-panel .element-category-container .category-element h2 {
    display: none;
  }
  .find-element .right-find-panel .element-category-container .category-element p {
    font-weight: 500;
    font-size: 1rem;
    color: #747468;
  }
  .find-element .right-find-panel .footer-find-element .prize p {
    font-size: 1.5rem;
  }
  .find-element .right-find-panel .footer-find-element button {
    display: none;
  }
  .finded-header h1 {
    font-size: 1.7rem;
  }
  .finded-header .border-mobile {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #E8E8E8;
    margin: 19px 0;
  }
  .finded-header .find-sorting button {
    min-width: 100px;
    width: 100%;
    flex-basis: 30%;
  }
  .finded-elements-pagination {
    margin-top: 10% !important;
  }
}
.finded-elements-pagination {
  margin-top: 3%;
  gap: 13px;
}
.finded-elements-pagination button {
  font-weight: 500;
  font-size: 0.8rem;
  color: #190F14;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 3px;
  border: 1px solid #E8E8E8;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.finded-elements-pagination button:hover {
  background-color: #F08D5F;
  color: white;
}
.finded-elements-pagination button:hover svg {
  fill: white;
}
.finded-elements-pagination button:active {
  background-color: #EA5D1A;
  color: white;
}
.finded-elements-pagination .active-btn {
  background-color: #EA5D1A !important;
  color: white;
}

.contact-form-section {
  min-height: 80vh;
  margin: 0;
  background-color: #F3F3F0;
  padding: 5% 0 5%;
}

.contact-form-title {
  font-weight: 700;
  text-align: center;
  color: #0F0F0F;
}
.contact-form-title h1, .contact-form-title h2, .contact-form-title p {
  width: 75%;
}
.contact-form-title h1 {
  font-size: 1rem;
  line-height: 30px;
}
.contact-form-title h2 {
  margin: 16px 0;
  font-size: 3rem;
  line-height: 52px;
}
.contact-form-title p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.11px;
}

.form-container {
  margin-top: 5%;
}
.form-container p {
  color: #190F14;
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  margin-top: 5px;
}
.form-container p a {
  color: inherit;
  font-size: 1rem;
}
.form-container button {
  width: 180px;
  background-color: #EA5D1A;
  margin-top: 3%;
  color: white;
}

.input-wrapper {
  gap: 16px;
}

.form-input {
  gap: 16px;
}
.form-input .name, .form-input .last-name, .form-input .phone-number, .form-input .email {
  position: relative;
  width: 100%;
  height: 48px;
}
.form-input input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
}
.form-input input:focus {
  border-color: black;
}
.form-input .error, .form-input .error-second {
  display: none;
  position: absolute;
  margin-top: -7px;
  font-size: 0.7rem;
  color: #EA5D1A;
}
.form-input .error--active {
  display: block;
}
.form-input .error-second--active {
  display: block;
}

.text-area {
  position: relative;
  width: 100%;
}
.text-area .error, .text-area .error-second {
  display: none;
  position: absolute;
  margin-top: -10px;
  font-size: 0.7rem;
  color: #EA5D1A;
}
.text-area .error--active {
  display: block;
}
.text-area .error-second--active {
  display: block;
}

textarea {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-height: 180px;
  max-height: 240px;
  padding: 14px 20px;
}
textarea:focus {
  border-color: black;
}

.checkbox-container {
  gap: 13px;
  margin-top: 3%;
}
.checkbox-container input::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #EA5D1A;
  transform: scale(0);
  transition: 0.1s ease-in-out;
}
.checkbox-container input::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 4px;
  background-image: url("../img/check-vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(0);
  transition: 150ms ease-in-out;
}
.checkbox-container input:checked::before, .checkbox-container input:checked::after {
  transform: scale(1);
}
.checkbox-container label {
  color: #0F0F0F;
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.contact-wrapper {
  margin: 1% 0 2% 0;
}

.checkbox-contact {
  gap: 13px;
  margin: 13px 0 0 7%;
}
.checkbox-contact input::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #EA5D1A;
  transform: scale(0);
  transition: 0.1s ease-in-out;
}
.checkbox-contact input::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 30%;
  top: 30%;
  transform: translate(-30%, -30%);
  background-image: url("../img/check-vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(0);
  transition: 150ms ease-in-out;
}
.checkbox-contact input:checked::before, .checkbox-contact input:checked::after {
  transform: scale(1);
}

@media screen and (max-width: 992px) {
  .contact-form-title h2 {
    font-size: 2.5rem;
    line-height: 40px;
  }
  .contact-form-title p {
    width: 85%;
  }
}
@media screen and (max-width: 576px) {
  .contact-form-section {
    padding: 10% 0 10%;
  }
  .contact-form-title h2 {
    font-size: 2.2rem;
    line-height: 32px;
  }
  .contact-form-title p {
    width: 100%;
    font-size: 1.1rem;
  }
  .form-input {
    flex-direction: column;
  }
  .form-input input {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .contact-form-title h2 {
    font-size: 1.7rem;
    line-height: 30px;
  }
  .contact-form-title p {
    width: 100%;
    font-size: 1rem;
    line-height: 28px;
  }
  .form-container p {
    font-size: 0.9rem;
  }
  .form-container p a {
    font-size: 0.9rem;
  }
  .checkbox-container, .checkbox-contact {
    margin: 10px 0;
  }
  .checkbox-container label, .checkbox-contact label {
    font-size: 0.9rem;
  }
  .checkbox-contact {
    margin-left: 10%;
  }
}
footer {
  min-height: 34vh;
  background-color: #33302E;
  margin: 0;
  color: white;
  padding: 3% 0 3%;
}
footer .top-footer-panel {
  gap: 7%;
}
footer .top-footer-panel .footer-item h1, footer .top-footer-panel .footer-item h2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  margin: 0;
}
footer .top-footer-panel .footer-item h2 {
  margin-top: 16px;
}
footer .top-footer-panel .footer-item p {
  margin-top: 16px;
  font-weight: 500;
  font-size: 1rem;
}
footer .top-footer-panel .footer-item button {
  font-family: "SEAT BCN", sans-serif, Tahoma;
  margin-top: 13px;
  width: 130px;
  text-align: start;
  padding: 0;
  height: 32px;
  color: white;
  background-color: transparent;
  border: none;
  opacity: 0.8;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}
footer .top-footer-panel .footer-item button svg {
  margin-left: 7px;
}
footer .top-footer-panel .footer-item .opening-hours-container {
  gap: 70px;
}
footer .footer-border {
  margin: 60px 0 24px;
  width: 100%;
  height: 1px;
  background-color: #82807F;
}
footer .middle-footer-panel .social-icons-footer {
  display: flex;
  gap: 24px;
}
footer .bottom-footer-panel {
  margin-top: 2%;
}
footer .bottom-footer-panel .footer-links {
  gap: 24px;
}
footer .bottom-footer-panel .footer-links a {
  color: white;
  text-decoration: none;
}

.footer-mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  footer .top-footer-panel {
    flex-wrap: wrap;
    gap: 64px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 6% 0 3%;
  }
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
  .footer-mobile a {
    margin: 10px 0;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
  }
  .footer-mobile .social-icons-footer-mobile {
    gap: 28px;
  }
  .footer-mobile .footer-item-mobile {
    margin: 0 auto 0;
    text-align: center;
  }
  .footer-mobile .border-footer-mobile {
    height: 1px;
    width: 100%;
    background-color: #82807F;
    margin: 19px 0;
  }
  .footer-mobile .border-footer-mobile:nth-child(6) {
    margin: 31px 0;
  }
}
.scroll-container {
  position: fixed;
  bottom: 10%;
  right: 50px;
  z-index: 99;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.scroll-container .scroll-arrow {
  width: 48px;
  height: 48px;
  background-color: #EA5D1A;
  border-radius: 5px;
}
.scroll-container .scroll-arrow svg {
  position: absolute;
}
.scroll-container .scroll-arrow:hover {
  opacity: 0.7;
}
.scroll-container--active {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .scroll-container {
    display: none;
  }
}
.mobile-search-console {
  position: relative;
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.mobile-search-console .mobile-filter-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.mobile-search-console .console-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto 0;
  max-width: 380px;
}
.mobile-search-console .mobile-buttons-container {
  flex-direction: column-reverse;
  margin: 24px auto 0;
}
.mobile-search-console--active {
  display: block;
}

.page-laoding {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E1E1E1;
  z-index: 99999;
}
.page-laoding .loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-laoding .loading-container svg {
  width: 70px;
  height: auto;
}/*# sourceMappingURL=style.css.map */